{
  "extends": [
    "eslint-config-egg",
    "@chwech/eslint-config"
  ],
  "rules": {
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "no-import-assign": ["off"],
    // TODO: 研究一下再开启
    "linebreak-style": ["off"]
  }
}
